In [1]:
import re
import pandas as pd
import requests
import pdfplumber

In [18]:
def extrair(pdf):
    tira_rep = 0
    for x in range (0, len(pdf)):

        #nome do contribuinte
        if pdf[x] == 'Contribuinte D.A.M.':
            nome = text_RAM[x+1].upper()
            nome = re.sub('[^A-Z]', ' ', nome).strip(" ")
        #CPF/CNPJ  //  Inscrição/CMC  //  Tributos  //  Referência  //  Vencimento
        if pdf[x][:8] == 'CPF/CNPJ':
            if tira_rep == 0:
                tira_rep = 1
                dados = pdf[x+1].split(" ")
                cpf_cnpj = dados[0]
                inscricao_CMC = dados[1]
                tributos = dados[2] + " " + dados[3]
                referencia = dados[4]
                vencimento = dados[5]
        #Logradouro
        #Número
        #CEP
        #Bairro
        #Complemento
        #Área terreno
        #Área Total Construída
        #Área Construída Unidade
        #Valor Venal Terreno
        #Valor Venal Construção
        #Valor Venal Imóvel 
        #Base de Cálculo
        #Alíquota

        #total a pagar
        if pdf[x][0:len('Total a Pagar: ')] == 'Total a Pagar: ':
            total_a_pagar = float(pdf[x][len('Total a Pagar: '):].replace(',', '.'))
            
    #codigo de barras     
    codBarras = pdf[-1]
        
    dados_para_df = {'Nome':[nome],"cpf_cnpj":[cpf_cnpj],"inscricao_CMC":[inscricao_CMC],"tributos":tributos,"referencia":[referencia],"vencimento":[vencimento],"total_a_pagar":[total_a_pagar],'codBarras':[codBarras]}
    df = pd.DataFrame(dados_para_df).T
    
    return df

In [17]:
with pdfplumber.open("arquivo/Rua Ângelo Martins, 445 1-10.pdf") as pdf:
    RAM = pdf.pages[0]
    RAM.chars[0]
    text_RAM = RAM.extract_text().split("\n")

In [19]:
extrair(text_RAM)

                                                               0
Nome                                       MANOEL CORREIA TELLES
cpf_cnpj                                          002.643.184-04
inscricao_CMC                                    000000000120433
tributos                                           I.P.T.U. 2021
referencia                                                  1/10
vencimento                                            31/03/2021
total_a_pagar                                              70.87
codBarras      81620000000-7 70872485202-3 10331110000-4 0007...